Django==1.6.2
MySQL-python==1.2.3
South==0.8.4
TwitterAPI==2.1.10
django-appconf==0.6
django-filebrowser==3.5.4
django-grappelli==2.5.1
django-imagekit==3.2
django-tinymce==1.5.2
django-tinymce-images==0.1.0
jsonpickle==0.6.1
oauthlib==0.6.1
pilkit==1.1.6
pillow==2.3.0
praw==2.1.14
pytz==2013.9
requests==2.2.1
requests-oauthlib==0.4.0
six==1.5.2
twitter==1.13.1
update-checker==0.9
