{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="container">
<div class="intro clearfix">
    <img src="/static/img/TweededBadgerLogo.jpg">
    <div class="copy"><h1>I am London based developer Will Jutsum.</h1></div> <div class="copy"><h2>With over 10 years experience, I understand both
the artistic and business aspects of digital development. Current passions include Python,
Cricket & Real Ale.</h2> <a href="#">Find out more here</a></div></div></div>

<div class="container posts">{% for post in posts %}{% include "tease.html" %}{% endfor %}</div>
{% endblock %}



  {% block scripts %}
      <script src="{% static 'js/packery.pkgd.min.js' %}"></script>
      <script>

      $(window).bind("load", function() {
             var $container = $('.posts');
        // initialize
        $container.packery({
          itemSelector: '.tease',
{#          gutter: 10#}
        });
        });

      </script>
  {% endblock %}