{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="about clearfix">
        <div class="base vertical-center-outer">
            <div class="vertical-center">
                <img src="/static/img/BadgerBaset.png">
            </div>
        </div>
        <div class="sections">
            <div class="section section1 vertical-center-outer">
                <div class="vertical-center maincopy">
                    <div>
                        <h1>Greetings!</h1>

                        <p>I am London based technologist Will Jutsum. With over 10 years experience, I understand both
                            the artistic and business aspects of digital development.</p>

                        <p>Scroll down to find out more..</p>
                    </div>
                </div>
                <div class="fixed vertical-center-outer">
                    <div class="vertical-center">
                        <img src="/static/img/BadgerHat.png">
                    </div>
                </div>
            </div>
            <div class="section section2 vertical-center-outer">
                <div class="vertical-center maincopy">
                    <div><p>As a freelance developer, I have a passion for creating digital experiences both on and off
                        the web. Having worked in web agencies for over 9 years, I've been lucky enough to work for some
                        of the largest brands in the world.
                    </p></div>
                </div>
                <div class="fixed vertical-center-outer">
                    <div class="vertical-center">
                        <img src="/static/img/BadgerKBMous.png">
                    </div>
                </div>
            </div>


            <div class="section section3 vertical-center-outer">
                <div class="vertical-center maincopy">
                    <div><p>
                        From building Kinect based games for the Olympic torch relay to turning people upside down at
                        the Edinburgh Fringe festival, and even tracking a giant fried egg across the country! I thrive
                        on finding interesting and unexpected digital solutions to any project brief.
                    </p></div>
                </div>
                <div class="fixed vertical-center-outer">
                    <div class="vertical-center">
                        <img src="/static/img/BadgerTech.png">
                    </div>
                </div>
            </div>


            <div class="tools section vertical-center-outer" data-hidebadger=1>
                <div class="vertical-center">
                    <h1>The tools of my trade</h1>

                    <div class="tool">
                        <h2>HTML5 & CSS</h2>
                        <i class="icon-html"></i>

                        <p>I’m very comfortable putting together the front-end pretty stuff. I tend to use (but not
                            overuse) Bootstrap to make things easy and write all my styles with Less.</p>
                    </div><div class="tool"><h2>Javascript</h2>
                        <i class="icon-javascript"></i>

                        <p>I’ve got experience in many areas of modern JS development for the web (Jquery, KnockoutJS,
                            Angular) as well as Node.js on the server side.</p></div><div class="tool"><h2>Python</h2>
                        <i class="icon-python"></i>

                        <p>Python is my go to language for many of my projects both personal and professional.
                            {# In fact this very website is built using the Django framework (Check it out on Github here).#}
                            I have used Python to develop internal tools for colleagues, as well as systems to support
                            experiential marketing campaigns.</p></div><div class="tool"><h2>PHP</h2>
                        <i class="icon-php"></i>

                        <p>I have many years experience building websites using PHP, I tend to use CodeIgniter for my
                            PHP development needs, although I am just as comfortable with PHP CMSs such as Wordpress &
                            Magento.</p></div><div class="tool"><h2>Unity 3D/C#</h2>
                        <i class="toolicon-Unity_Pri_RGB" style="left: -3%;"></i>

                        <p>I have a passion for game development, and have been lucky enough to use Unity for a number
                            of projects, including an iOS & Android game with over 30,000 downloads.
{#                            I also have a#}
{#                            number of game prototypes waiting for some attention. (Don’t we all?)#}
                        </p></div><div class="tool"><h2>Arduino & Electronics</h2>
                        <i class="icon-raspberrypi"></i>

                        <p>I have always had a passion for electronics from my time at school, and now my den gives me
                            the opportunity play again! Ardunio is a fantasic prototyping platform for quickly putting
                            projects together.
                            {# Last year I built  Arduino powered Christmas Lights, and I can control my heating from anywhere in the world (Find out more here). #}</p>
                    </div><div class="tool"><h2>Server Stacks</h2>
                        <i class="icon-nginx"></i>

                        <p>I’ve had the pleasure (?) of working with a number of server configurations over the years
                            from LAMP to .Net on IIS. This is site is running on an AWS micro instance with an
                            Ubuntu/Nginx/Gunicorn/Django/Mysql stack.</p></div><div class="tool"><h2>Software</h2>
                        <i class="icon-python"></i>

                        <p>I <3 Jetbrains</p></div>
                </div>
            </div>


            {#    <div class="section section4 vertical-center-outer">#}
            {#        <div class="vertical-center maincopy">#}
            {#           <div><p>#}
            {#Hacking is at the heart of most of the work I do professionally and personally. I believe that technology can augment all aspects of life!#}
            {#           </p></div>#}
            {#        </div>#}
            {#        <div class="fixed vertical-center-outer">#}
            {#             <div class="vertical-center">#}
            {#             <img src="/static/img/BadgerHacking.png">#}
            {#        </div>#}
            {#        </div>#}
            {#    </div>#}
            <div class="section section5 vertical-center-outer">
                <div class="vertical-center maincopy">
                    <div>
                        <p>
                            When i'm not doing the above you can usually find me cooking, watching cricket or taking our
                            wonderful dog <a href="https://www.facebook.com/sophiethedoggy" target="_blank">Sophie</a>
                            for a walk.
                        </p>

                        <p>Interested in working with me? You can find a more in depth overview of my skillset <a
                                href="#">here</a> and get in touch with me <a href="#">here</a>.</p>
                    </div>
                </div>
                <div class="fixed vertical-center-outer">
                    <div class="vertical-center">
                        <img src="/static/img/BadgerContact.png">
                    </div>
                </div>
            </div>


        </div>


    </div>



{% endblock %}



{% block scripts %}

    <script>
        var about = (function () {
            var $currentItem;

            function init() {
                setupSections();
                setupListeners();
                checkPos();
            }

            setupSections = function () {
                $(".section").each(function (e) {
                    $section = $(this);
                    $section.attr('data-debug', 999);
                    this.fixedsection = $section.find(".fixed");
                    {#                this.fixedsection.hide();#}
                });
            }
            setupListeners = function () {
                $(window).scroll(function () {
                    checkPos();
                });
            }
            selectCurrent = function ($elem) {
                if ($currentItem != $elem) {
                    if ($currentItem) {
                        if ($elem != $currentItem) {
                            $currentItem.removeClass('active');
                        } else {
                            return false;
                        }
                    }
                    $elem.addClass('active');
                    $currentItem = $elem;

                    if ($elem.length == 0) {
{#                        $(".base").stop().fadeOut();#}
{#                        $(".tools").stop().fadeTo("fast",1);#}
                        $(".tools").addClass('active');
                        $(".base").addClass('badgerhide');
                    } else {
{#                        $(".base").stop().fadeIn();#}
{#                        $(".tools").stop().fadeTo("fast",0);#}
                        $(".tools").removeClass('active');
                        $(".base").removeClass('badgerhide');

                    }
                }
            }
            checkPos = function () {
                var h = $(window).height();
                var foundactive = false;
                $(".section").each(function (e) {
                    $section = $(this);
                    bounding = this.getBoundingClientRect();

                    if (bounding.top < 0) {
                        var sh = bounding.bottom;
                    } else {
                        var sh = h - bounding.top;
                    }
                    if (sh > (h / 2)) {
                        selectCurrent(this.fixedsection);
                        foundactive = true;
                    }


                    $section.attr('data-debug', sh + " bb:" + bounding.bottom + " bt:" + bounding.top);
                    {#                if (!foundactive && )#}

                });
            }
            return { init: init };
        })();
        about.init();
    </script>

{% endblock %}












