    <h2 class="c0"><a name="h.ciu3guxpmjn6"></a><span>Recent Project Highlights</span></h2>

<h3 class="c0"><a name="h.alv3ansno2ki"></a><span>MAOAM Megavend Recharge</span></h3>

<p class="c0"><span class="c8">Unity 3D, C#, 3DS Max, Mobile</span></p>

<p class="c0"><span class="c6 c4"><a class="c2"
                                     href="http://www.google.com/url?q=http%3A%2F%2Fpromotions.maoam.co.uk%2Fmegavendrecharge%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEZK8VfbPGFq3UcMDKzQoHeWhrn5A">http://promotions.maoam.co.uk/megavendrecharge/</a></span>
</p>

<p class="c0"><span class="c6 c4"><a class="c2"
                                     href="http://www.google.com/url?q=http%3A%2F%2Fwww.crabcreative.com%2Fblog%2F317%2Fmaoam-takes-the-plunge-and-embraces-mobile-in-a-mega-way%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGq2iZq_6RmoqIbVgk4PzzrplKd0w">http://www.crabcreative.com/blog/317/maoam-takes-the-plunge-and-embraces-mobile-in-a-mega-way/</a></span><span
        class="c4">&nbsp;</span></p>

<p class="c0"><span>I was the sole developer &amp; project lead on this mobile game developed for the confectionery manufacturer MAOAM. The game mechanic was first developed &amp; tested in Flash before the final product was produced using Unity</span>
</p>


<h2 class="c0"><a name="h.y57m8z94svtv"></a><span>MAOAM Music Mixer</span></h2>

<p class="c0"><span class="c8">Actionscript, Facebook, iPad</span></p>

<p class="c0"><span>MAOAM wanted to develop a project that could engage their Facebook fans, as well as consumers on an experiential tour. The MAOAM Music Mixer was a fun &amp; simple music sequencer developed in Actionscript. On Facebook, fans could create their own mini mixes and share them with their friends. Within experiential, two large touch-screens running the application allowed consumers to create their own mixes in a time limited battle. The Mixer also on 4 iPads on the stand, a version that was also released on the App Store.</span>
</p>

<h2 class="c0"><a name="h.b8pvxdc59bjs"></a><span>HARIBO Egg Hunt</span></h2>

<p class="c0"><span class="c8">Android, HTML, Javascript, Google Maps, Twitter</span></p>

<p class="c0"><span>HARIBO ran a nationwide experiential campaign to promote their Eggstas product. The project created a need to track the experiential team across the country, as well as allow them to easily upload photos to our social team for use on Facebook &amp; Twitter. The solution to this was a custom made Android application which reported the GPS coordinates of the team to our server. I also found a software solution which allowed photos to be automatically synced with Dropbox and in turn our social team.</span>
</p>

<p class="c0"><span>The website for the project featured a Google Map containing the Egg&rsquo;s whereabouts, and tweets from consumers.</span>
</p>

<h2 class="c0"><a name="h.8c9jj74r9i0k"></a><span>Nature Valley Hay Bale Hurdles</span></h2>

<p class="c0"><span class="c8">Actionscript, 3DS MAX, Kinect. Facebook</span></p>

<p class="c0"><span>Nature Valley took part in the Olympics Torch Relay tour. To support this they wanted to create an immersive experiential experience with an Olympic feel that was also in keeping with the brand, which would also create content for their social platforms.</span>
</p>

<p class="c0"><span>My solution to this was the &ldquo;Hay Bale Hurdles&rdquo;, a custom made game utilising the Xbox Kinect peripheral. The project also incorporated a computer controlled camera, meaning photos of consumers enjoying the activity could be easily uploaded to Facebook.</span>
</p>

<p class="c0"><span>I also played an important role in planning the layout of the stand, working closely with the build team.</span>
</p>

<h2 class="c0"><a name="h.y55sso5kvsam"></a><span>Alpro Deskfest</span></h2>

<p class="c0"><span>Alpro ran a competition encouraging users to tweet or upload photos of their breakfast, 10 of which would win a prize each day. This presently a number of challenges, as the entries would need to be displayed soon after entry on the Alpro site, and a record kept of all the tweets so winners could be picked. Twitter users also use a number of different photo services, all of which must be accounted for.</span>
</p>

<p class="c0"><span>To solve these problems I created a program in Python which searched Twitter for the term &ldquo;deskfest&rdquo;
    multiple times a minute &amp; saved matching tweets to a database. The program then established if these tweets contained images and downloaded them, after which they are compressed and uploaded to the Alpro server to be displayed on the website.</span>
</p>

<p class="c0"><span>I also developed the website for the project, along with the PHP framework to display and manage the entries. </span>
</p>