{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="tools container">
    <h1>The tools of my trade</h1>
<h2>HTML5 & CSS</h2>
<p>I’m very comfortable putting together the front-end pretty stuff. I tend to use (but not overuse) Bootstrap to make things easy and write all my styles with Less.</p>

<h2>The ever expanding world of Javascript</h2>
<p>I’ve got experience in many areas of modern JS development for the web (Jquery, KnockoutJS, Angular) as well as Node.js on the server side.</p>

<h2>Python</h2>
<p>Python is my go to language for many of my projects both personal and proffesional. In fact this very website is built using the Django framework (Check it out on Github here). I have used Python to develop internal tools for colleagues, as well as systems to support experiential marketing campaigns.</p>

<h2>PHP</h2>
<p>I have many years experience building websites using PHP, I tend to use CodeIgniter for my PHP development needs, although I am just as comfortable with PHP CMSs such as Wordpress & Magento.</p>

<h2>Unity 3D</h2>
<p>I have a passion for game development, and have been lucky enough to use Unity for a number of projects, including an iOS & Android game with over 30,000 downloads. I also have a number of game prototypes waiting for some attention. (Don’t we all?)</p>

<h2>Arduino & Electronics</h2>
<p>I have always had a passion for electronics from my time at school,  and now my den gives me the opportunity play again! Ardunio is a fantasic prototyping platform for quickly putting projects together. Last year I built  Arduino powered Christmas Lights, and I can control my heating from anywhere in the world (Find out more here).</p>

<h2>Server Stacks</h2>
<p>I’ve had the pleasure (?) of working with a number of server configurations over the years from LAMP to .Net on IIS. This is site is running on an AWS micro instance with an Ubuntu/Nginx/Gunicorn/Django/Mysql stack.</p>

<h2>Software</h2>
<p>I <3 Jetbrains</p>

    </div>

{% endblock %}