{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link href="{% static 'css/work.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="work">

    <div class="workitem willintro">
        <div class="details one">
            <h1>Will Jutsum</h1>
            <h2>Work Highlights</h2>
        </div>
        <div class="details two"></div>
        <div class="details three"></div>
        <div class="image vertical-center-outer fit"><img src="/static/img/Badger_crop.jpg"></div>
    </div>

    <div class="workitem">
        <div class="details one">
            <h2>Drambuie 'Extraordinary Bar'</h2>
            <p class="tech">Python, Facebook, 3DS Max</p>
            <p>Drambuie wanted to make a strong connection between their experiential activity at the Edinburgh Festival and social media which fit their current brand aesthetic.</p>
            <p>Once a concept was reached I created a mock-up in 3DS Max to sell in to the client, and then act as reference for the final build.</p>
            <p>I developed the on site photo mechanic using Python with a web front end. The system allowed the operator to take a number of photos and choose the best one. The photo was then processed to get the look we wanted before being uploaded to Facebook meaning the consumer could instantly tag themselves.</p>
        </div><div class="image image-2 vertical-center-outer black fill">
        <img src="/static/img/work/drambuie2.jpg" alt=""/></div><div class="image image-1 vertical-center-outer black"><img src="/static/img/work/drambuie1.png" alt=""/></div>
        <div class="image image-3 vertical-center-outer">
            <img src="/static/img/work/drambuie4.jpg" alt=""/></div></div>



    <div class="workitem">
        <div class="details two">
            <h2>MAOAM Mega Vend Recharge</h2>
            <p class="tech">Unity 3D</p>
            <p>A fun puzzle game for iOS and Android which further expanded the story of the MAOAM Mega Vend.</p>
            <p>I played an important role in all stages of production, starting the with the creation and testing of a number of puzzle mechanics. Once a mechanic was chosen I worked closely with the designer to find a look and feel that client was happy with.</p>
            <p>I chose Unity 3D for production of the game as this meant we could release cross-platform both on time and on budget.</p>
            <p>You can find out more about the game <a href="http://promotions.maoam.co.uk/megavendrecharge/">here</a></p>
        </div><div class="image image-1 vertical-center-outer black"><img src="/static/img/work/megavend1.jpg" alt=""/></div><div class="image image-2 vertical-center-outer black">
        <img src="/static/img/work/megavend3.jpg" alt=""/></div>
        <div class="image image-3 vertical-center-outer fill">
            <img src="/static/img/work/megavend2.jpg" alt=""/></div></div>


    <div class="workitem">
        <div class="details three">
            <h2>The HARIBO Eggstras Hunt</h2>
            <p class="tech">Android, HTML, Javascript, Google Maps, Twitter</p>
            <p>HARIBO ran a nationwide experiential campaign to promote
their Eggstras product. The project created a need to track the
experiential team across the country, as well as allow them to
easily upload photos to our social team for use on Facebook &
Twitter.</p><p>
The solution to this was a custom made Android application
which reported the GPS coordinates of the team to our server. I
also found a software solution which allowed photos to be
automatically synced with Dropbox and in turn our social team.</p>
<p>The website for the project featured a Google Map containing
the Egg’s whereabouts, and tweets from consumers.</p>
        </div><div class="image image-1 vertical-center-outer">
        <img src="/static/img/work/HARIBO%20egg%201.jpg" alt=""/></div><div class="image image-2 vertical-center-outer">
        <img src="/static/img/work/HARIBO%20Egg%202.jpg" alt=""/></div>
        <div class="image image-3 vertical-center-outer">
            <img src="/static/img/work/HARIBO%20Egg%203.jpg" alt=""/></div></div>

    <div class="workitem">
        <div class="details four">
            <h2>Nature Valley Haybale Hurdles</h2>
            <p class="tech">Actionscript, 3DS MAX, Kinect. Facebook</p>
            <p>Nature Valley took part in the Olympics Torch Relay tour. To
support this they wanted to create an immersive experiential
experience with an Olympic feel that was also in keeping with
the brand, which would also create content for their social
platforms.</p>
<p>
My solution to this was the “Hay Bale Hurdles”, a custom made
game utilising the Xbox Kinect peripheral. The project also
incorporated a computer controlled camera, meaning photos
of consumers enjoying the activity could be easily uploaded to
Facebook.</p>
<p>
I also played an important role in planning the layout of the
stand, working closely with the build team.</p>
        </div><div class="image image-1 vertical-center-outer">
        <img src="/static/img/work/Haybale%201.jpg" alt=""/></div><div class="image image-2 vertical-center-outer">
        <img src="/static/img/work/Haybale%202.jpg" alt=""/></div>
        <div class="image image-3 vertical-center-outer">
            <img src="/static/img/work/Haybale%203.jpg" alt=""/></div></div>

    <div class="workitem">
        <div class="details five">
            <h2>MAOAM Music Mixer</h2>
            <p class="tech">Actionscript, Facebook, iPad</p>
            <p>MAOAM wanted to develop a project that could engage their
Facebook fans, as well as consumers on an experiential tour. The
MAOAM Music Mixer was a fun & simple music sequencer
developed in Actionscript.</p>
<p>On Facebook, fans could create their own mini mixes and share
them with their friends. Within experiential, two large touch-
screens running the application allowed consumers to create
their own mixes in a time limited battle. The Mixer also on 4 iPads
on the stand, a version that was also released on the App
Store.</p>
<p>I played an integral part in developing & researching the idea,
and built all 3 implementations of the project.</p>
        </div><div class="image image-1 vertical-center-outer">
        <img src="/static/img/work/MAOAM%20Mixer1.jpg" alt=""/></div><div class="image image-2 vertical-center-outer">
        <img src="/static/img/work/MAOAM%20Mixer%202.jpg" alt=""/></div>
        <div class="image image-3 vertical-center-outer black">
            <img src="/static/img/work/MAOAM%20Mixer%203.jpg" alt=""/></div></div>


</div>
{% endblock %}